<h1>Gardy</h1>
<h2>出欠表</h2>

<ul>
<% @schedules.each do |schedule| %>
  <li><a href="#<%= schedule.kick_date %>"><%= schedule.kick_date.strftime("%m/%d") %></a></li>
<% end %>
</ul>

<br />

<% @save_schedule_id="0" %>
<% @attendance_lists.each do |attendance_list| %>
  <% attendance_list.each do |list| %>
  <% if @save_schedule_id != list.id %>
  <ul id="<%= list.kick_date %>">
    <li>======================================</li>
    <li>内容:[<%= list.title %>]</li>
    <li>日時:<%= list.kick_date.strftime("%Y/%m/%d") %> <%= list.start_time.strftime("%H:%M") %>-<%= list.end_time.strftime("%H:%M") %></li>
    <li>場所:<%= list.place %></li>
    <li>詳細:<%= list.contents %></li>
    <li>======================================</li>
  <ul/>
  <% end %>
  <% @save_schedule_id=list.id %>
  <table>
  <tr>
    <td>[<%= list.number %>]<%= list.name_ja %></td>
    <td><%= @attendance_status[list.attendance_stat] %><br /><%= (list.attendance_come) %></td>
    <td><%= link_to 'Edit', edit_attendance_list_path(list.member_id) %></td>
  </tr>
  </table>
  <% end %>
  <br />
  <br />
<% end %>

<br />
<!--
<%= link_to 'New Attendance list', new_attendance_list_path %>
-->
