<p id="notice"><%= notice %></p>

<p>
  <b>内容:</b>
  <%= @attendance_list.title %>
</p>

<p>
  <b>日時:</b>
  <%= @attendance_list.kick_date.strftime("%Y/%m/%d") %> <%= list.start_time.strftime("%H:%M") %>-<%= list.end_time.strftime("%H:%M") %>
</p>

<p>
  <b>場所:</b>
  <%= @attendance_list.place %>
</p>

<p>
  <b>詳細:</b>
  <%= @attendance_list.contents %>
</p>

<hr />

<ul>
<% @attendance_list.each do |attendance| %>
    <li><b>[<%= attendance.number %>]<%= attendance.name_ja %></b></li>
    <li><%= @attendance_status[attendance.attendance_stat] %><br /><%= (attendance.attendance_come) %></le>
<% end %>
</ul>

<%= link_to 'Edit', edit_attendance_list_path(@attendance_list) %> |
<%= link_to 'Back', attendance_lists_path %>
