<p id="notice"><%= notice %></p>

<hr />
<% @save_schedule_id="0" %>
<% @attendance_list.each do |list| %>
  <% if @save_schedule_id != list.id %>
<h3>
  <b>内容:</b>
  <%= list.title %>
</h3>

<p>
  <b>日時:</b>
  <%= list.kick_date.strftime("%Y/%m/%d") %> <%= list.start_time.strftime("%H:%M") %>-<%= list.end_time.strftime("%H:%M") %>
</p>

<p>
  <b>場所:</b>
  <%= list.place %>
</p>

<p>
  <b>詳細:</b>
  <%= list.contents %>
</p>

<hr />
<% end %>
<% @save_schedule_id=list.id %>

<ul>
    <li><b>[<%= list.number %>]<%= list.name_ja %></b></li>
    <li><%= @attendance_status[list.attendance_stat] %><br /><%= (list.attendance_come) %></le>
</ul>
<% end %>

<%= link_to 'Edit', edit_attendance_list_path(@attendance_list) %> |
<%= link_to 'Back', attendance_lists_path %>
