<%- if @schedules %>
<br />    
<p>
<table class="simple_table">
  <tr>
    <th>開催日</th>
    <th>時刻</th>
    <th>場所</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>登録時刻</th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.kick_date.strftime("%Y/%m/%d") %></td>
    <td><%= schedule.start_time.strftime("%H:%M") %> - <%= schedule.end_time.strftime("%H:%M") %></td>
    <td><%= schedule.place %></td>
    <td><%= schedule.title %></td>
    <td><%= schedule.contents %></td>
    <td><%= schedule.created_at.strftime("%Y/%m/%d %H:%M") %></td>
  </tr>
<% end %>
<% else%>
<div>直近の活動はありません。</div>
<% end -%>
</table>
</p>
