<div class="page_title">
      <h2>A.C.GARDY Schedules</h2>
</div>

<div class="list_main">
<table class="simple_table">
  <tr>
    <th>Id</th>
    <th>開催日</th>
    <th>開始時刻</th>
    <th>終了時刻</th>
    <th>場所</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>公開</th>
    <th>登録者</th>
    <th>登録日時</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.id %></td>
    <td><%= schedule.kick_date.strftime("%Y/%m/%d") %></td>
    <td><%= schedule.start_time.strftime("%H:%M:%S") %></td>
    <td><%= schedule.end_time.strftime("%H:%M:%S") %></td>
    <td><%= schedule.place %></td>
    <td><%= schedule.title %></td>
    <td><%= schedule.contents %></td>
    <td><%= schedule.open_flag %></td>
    <td><%= schedule.register %></td>
    <td><%= schedule.kick_date.strftime("%Y/%m/%d %H:%M:%S") %></td>
    <td><%= link_to 'Show', schedule %></td>
    <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
    <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule', new_schedule_path %>
</div>

