<!DOCTYPE html>
<html itemscope itemtype='http://schema.org/Event' xmlns:fb='https://www.facebook.com/2008/fbml' xmlns:og='http://ogp.me/ns#' xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <title>Gardy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
<title>FUTSAL CLUB GARDY</title>
<script type="text/javascript">
//<![CDATA[
window.$S = {};$S.page_meta={"id":134660,"permalink":"site110797-9947-810","user":{"membership":"free"},"category":null};
//]]>
</script>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta content='width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0' id='viewport' name='viewport'>
<link href="//fonts.googleapis.com/css?family=Lobster" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/gardy_main.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/gardy_main2.css" media="screen" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Arapey:400italic|Abril+Fatface|Open+Sans:300italic,600italic,300,600|Quando|Josefin+Slab:400,700,400italic,700italic|Trocchi|Arvo|Lato:400,700,400italic,700italic|Raleway:200,300,700&amp;subset=latin,latin-ext" media="screen" rel="stylesheet" type="text/css" />
<link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>
</head>
<body class='show' id='pages' spellcheck='false'>

<%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</body>
</html>
