<div class="page_title">
  <h2>A.C.GARDY Members</h2>
</div>

<div class="list_main">
<table class="simple_table">
  <tr>
    <th>ID</th>
    <th>Number<br />背番号</th>
    <th>Name en<br />名前(英語)</th>
    <th>Name ja<br />名前(漢字)</th>
    <th>Name ja yomi<br />名前(ひらがな)</th>
    <th>Email<br />ログインアドレス</th>
    <th>Comment<br />メンバ説明</th>
    <th>Status<br />ステータス</th>
    <th>Join date<br />入会日</th>
    <th>Current sign in at<br />最終ログイン日</th>
    <th></th>
    <th></th>
    <!--<th></th>-->
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.id %></td>
    <td><%= member.number %></td>
    <td><%= member.name_en %></td>
    <td><%= member.name_ja %></td>
    <td><%= member.name_ja_yomi %></td>
    <td><%= member.email %></td>
    <td><%= member.comment %></td>
    <% if member.status.nil? %>
        <td>未登録</td>
    <% else %>
        <td><%= @member_status[member.status.to_i] %></td>
    <% end %>
    <% if member.join_date.nil? %>
        <td>-</td>
    <% else %>
        <td><%= member.join_date.strftime("%Y/%m/%d") %></td>
    <% end %>
    <% if member.current_sign_in_at.nil? %>
        <td>未ログイン</td>
    <% else %>
        <td><%= member.current_sign_in_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
    <% end %>
    <td><%= link_to '詳細', member %></td>
    <td><%= link_to '編集', edit_member_path(member) %></td>
    <!--<td><%= link_to '削除', member, method: :delete, data: { confirm: '本当に削除してよい?' } %></td>-->
  </tr>
<% end %>
</table>
<br />

<%= link_to 'メンバ新規登録', new_member_path %>
</div>
