<div class="page_title">
        <h2>A.C.GARDY Members Detail</h2>
</div>

<div class="detail_main">
<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @member.id %>
</p>

<p>
  <b>Number (背番号):</b>
  <%= @member.number %>
</p>

<p>
  <b>Name en (名前：英語):</b>
  <%= @member.name_en %>
</p>

<p>
  <b>Name ja (名前：漢字):</b>
  <%= @member.name_ja %>
</p>

<p>
  <b>Name ja yomi (名前：ひらがな):</b>
  <%= @member.name_ja_yomi %>
</p>

<p>
  <b>Join date (参加年月日):</b>
  <%= @member.join_date %>
</p>

<p>
  <b>Comment (メンバ説明):</b>
  <%= @member.comment %>
</p>

<p>
  <b>Status (ステータス):</b>
  <%= @member.status %>
</p>


<%= link_to '編集', edit_member_path(@member) %> |
<%= link_to '一覧へ戻る', members_path %>

</div>
