<div class="page_title">
        <h2>A.C.GARDY Members Detail</h2>
</div>

<div class"detail_main">
<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @member.id %>
</p>

<p>
  <b>Number:</b>
  <%= @member.number %>
</p>

<p>
  <b>Name en:</b>
  <%= @member.name_en %>
</p>

<p>
  <b>Name ja:</b>
  <%= @member.name_ja %>
</p>

<p>
  <b>Name ja yomi:</b>
  <%= @member.name_ja_yomi %>
</p>

<p>
  <b>Join date:</b>
  <%= @member.join_date %>
</p>

<p>
  <b>Comment:</b>
  <%= @member.comment %>
</p>

<p>
  <b>Status:</b>
  <%= @member.status %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>

</div>
